CO2/CO2_Node-red.json
[
    {
        "id": "94838b605fd8ac9e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e790dbbb0a69764",
        "type": "function",
        "z": "94838b605fd8ac9e",
        "name": "Nombre",
        "func": "msg.payload = msg.payload.nombre;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "345633d5fc7296ba"
            ]
        ]
    },
    {
        "id": "bd731e7d1efb50c0",
        "type": "mqtt in",
        "z": "94838b605fd8ac9e",
        "name": "",
        "topic": "testeo/sensormq135-Tzec",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e83226600081f25a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "d330e0d55693444b"
            ]
        ]
    },
    {
        "id": "d330e0d55693444b",
        "type": "json",
        "z": "94838b605fd8ac9e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "3e790dbbb0a69764",
                "33b4d5a8cd4581ee",
                "60034b05af60ca2d"
            ]
        ]
    },
    {
        "id": "345633d5fc7296ba",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "33b4d5a8cd4581ee",
        "type": "function",
        "z": "94838b605fd8ac9e",
        "name": "datos",
        "func": "var datos= msg.payload.datos; \nglobal.set('datos', datos); \nmsg.payload = datos; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "395fd0f059411427"
            ]
        ]
    },
    {
        "id": "395fd0f059411427",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "60034b05af60ca2d",
        "type": "function",
        "z": "94838b605fd8ac9e",
        "name": "Datos mysql",
        "func": "msg.topic = \"INSERT INTO almacen (nombre,datos) VALUES ('\"+ msg.payload.nombre +\"' ,\" + msg.payload.datos +\");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "af25bf4b0fbcc973",
                "3c0712fc9c0c6f5e"
            ]
        ]
    },
    {
        "id": "af25bf4b0fbcc973",
        "type": "mysql",
        "z": "94838b605fd8ac9e",
        "mydb": "91c4558305d3e901",
        "name": "",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b795140f3c0ce8f9",
        "type": "ui_template",
        "z": "94838b605fd8ac9e",
        "group": "fc6dd12212daf450",
        "name": "PPM",
        "order": 14,
        "width": 8,
        "height": 3,
        "format": "<iframe\n    src=\"http://localhost:3000/d-solo/d646c560-f1b1-4952-a503-6d0e15219436/codigoiot?orgId=1&from=1684078382687&to=1684079542000&panelId=1\"\n    width=\"400\" height=\"200\" frameborder=\"0\"></iframe>\n    ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1030,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "352bfcd98d7a2247",
        "type": "ui_template",
        "z": "94838b605fd8ac9e",
        "group": "fc6dd12212daf450",
        "name": "Grafica",
        "order": 21,
        "width": 20,
        "height": 5,
        "format": "<iframe\n    src=\"http://localhost:3000/d-solo/d646c560-f1b1-4952-a503-6d0e15219436/codigoiot?orgId=1&from=1684009200832&to=1684095600832&panelId=2\"\n    width=\"1000\" height=\"400\" frameborder=\"0\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5c4f8905bc536bac",
        "type": "ui_media",
        "z": "94838b605fd8ac9e",
        "group": "fc6dd12212daf450",
        "name": "Nube",
        "width": 6,
        "height": 5,
        "order": 2,
        "category": "NubeC2O2",
        "file": "co2.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1030,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "09f36a08256f4907",
        "type": "ui_text",
        "z": "94838b605fd8ac9e",
        "group": "fc6dd12212daf450",
        "order": 4,
        "width": 8,
        "height": 3,
        "name": "text",
        "label": "",
        "format": "<p align=\"center\" ><FONT COLOR=\"white\" FONT SIZE=6>En esta pagina encontraras los valores medidos en ppm de un sensor MQ-135</FONT></p>",
        "layout": "row-left",
        "className": "text",
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d15bdf159e44af8",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Escuchador de ESP32",
        "info": "",
        "x": 160,
        "y": 280,
        "wires": []
    },
    {
        "id": "89585aad6c4273c2",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Recepcion de datos",
        "info": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "c369eaef43e74ca2",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Base de datos y verificacion",
        "info": "",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "3c0712fc9c0c6f5e",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "18475770ad0533bd",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Dashboard",
        "info": "",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "144439d5f447f2cc",
        "type": "ui_text_input",
        "z": "94838b605fd8ac9e",
        "name": "Conexion de equipo",
        "label": "Coloca el minimo de PPM para encender el equipo",
        "tooltip": "",
        "group": "fc6dd12212daf450",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "248e73f2f2827d19"
            ]
        ]
    },
    {
        "id": "248e73f2f2827d19",
        "type": "function",
        "z": "94838b605fd8ac9e",
        "name": "PPM de conexion",
        "func": "var ppm_conexion= msg.payload; \nglobal.set('ppm_conexion', ppm_conexion);\nmsg.payload= ppm_conexion;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "36be5de4156109c4"
            ]
        ]
    },
    {
        "id": "36be5de4156109c4",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe20e01fbdbff1af",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Desconexion/Conexion",
        "info": "",
        "x": 160,
        "y": 420,
        "wires": []
    },
    {
        "id": "05e3b9c783840a9e",
        "type": "function",
        "z": "94838b605fd8ac9e",
        "name": "Comparacion",
        "func": "var ppm_conexion= global.get(\"ppm_conexion\");\nvar esp32= msg.payload;\nvar estado = \"\";\n\n    if (ppm_conexion <= esp32) {\n        estado = \"TRUE\";\n        msg.payload = estado;\n        return msg;\n    }\n    else{\n        estado=\"FALSE\";\n        msg.payload=estado; \n        return msg; \n    }\n\n\n\n\n    \n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "bbc07db7ebd7e827",
                "e9ec99f8740d4e53"
            ]
        ]
    },
    {
        "id": "81595f8962cf77ec",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 600,
        "wires": []
    },
    {
        "id": "bbc07db7ebd7e827",
        "type": "mqtt out",
        "z": "94838b605fd8ac9e",
        "name": "",
        "topic": "testeo/sensormq135-Tzec/estado",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e83226600081f25a",
        "x": 620,
        "y": 540,
        "wires": []
    },
    {
        "id": "6ef6411483321274",
        "type": "comment",
        "z": "94838b605fd8ac9e",
        "name": "Mensajero",
        "info": "",
        "x": 840,
        "y": 540,
        "wires": []
    },
    {
        "id": "f36b5695ca6ff9ee",
        "type": "inject",
        "z": "94838b605fd8ac9e",
        "name": "Inyector de datos ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "datos",
        "payloadType": "global",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "81595f8962cf77ec",
                "05e3b9c783840a9e"
            ]
        ]
    },
    {
        "id": "e9ec99f8740d4e53",
        "type": "debug",
        "z": "94838b605fd8ac9e",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "28b535157edd019c",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a8346bbb5f03b66",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "cf63b8535bb05ee3",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "f7dce3d9a775441c",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "1509149857d03378",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "40e62951dd973c20",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "20646ad6cd11754b",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "afcd8694d10e000c",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "209ea5fcc392f650",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "10386eb7a119b2b6",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6368d8bbbd6f470",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2710e6db4f771d9",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "fae0536e62771d75",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "37b0c9628e7cc83f",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "c853b2027344d092",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "8848e4c9b4911b60",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 19,
        "width": 8,
        "height": 1
    },
    {
        "id": "0e0f4a9226f05216",
        "type": "ui_spacer",
        "z": "94838b605fd8ac9e",
        "name": "spacer",
        "group": "fc6dd12212daf450",
        "order": 20,
        "width": 4,
        "height": 1
    },
    {
        "id": "e83226600081f25a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "91c4558305d3e901",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "codigoiot",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fc6dd12212daf450",
        "type": "ui_group",
        "name": "",
        "tab": "59e14dc406b99527",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "59e14dc406b99527",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]